.kutOgb {
    background-color: rgb(255, 255, 255);
    width: 75%;
}

.bbgLaK {
    display: flex;
    max-width: 120rem;
    margin: 0px auto 1.2rem;
}

.jJjowe {
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
}

.gxYrUi {
    background-color: rgb(255, 255, 255);
}

.fyvULD {
    margin-top: 1rem;
    margin-right: 2rem;
}

.geOkNK {
    width: auto;
}

.cSraKB {
    display: flex;
    align-items: center;
    margin-top: 1.5rem;
    height: 25px;
}

.flayJI {
    margin-right: 1.5rem;
}

.bYcbLl {
    border: 1px solid rgb(228, 228, 228);
    border-radius: 0.4rem;
    height: 2.5rem;
    display: flex;
    align-items: center;
    width: 7rem;
    justify-content: center;
}

.gTXKBu:hover>.PersuasionHoverTextstyles__HiddenDropdownWrapperDiv-sc-1c06rw1-1 {
    visibility: visible;
}

.jZQKNP {
    padding: 0px 2px;
}

.ifSBNC {
    color: rgb(251, 172, 67);
}

.RxyTX {
    cursor: pointer;
}

.liAKvM {
    margin-right: 0.3rem;
}

.jRhIkX {
    display: flex;
    align-items: center;
}

.gTXKBu {
    position: relative;
    text-align: left;
    display: inline-flex;
    margin-right: 0.8rem;
}

.lgRJUY {
    border-radius: 1.5rem;
    cursor: pointer;
    color: rgb(255, 109, 56);
    background-color: rgb(255, 255, 255);
    text-transform: capitalize;
    border: 1px solid rgb(255, 109, 56);
    display: flex;
    align-items: center;
}

.lgRJUY span {
    max-width: 30rem;
}

.bIgRch {
    width: 1.6rem;
    height: 1.6rem;
    fill: rgb(255, 109, 56);
    cursor: pointer;
}

.fNdWoQ {
    width: 22rem;
    top: 2rem;
    right: 0px;
    max-width: 30rem;
    padding: 1rem 0px;
    z-index: 6;
    visibility: hidden;
    transition: opacity 0.8s;
    position: absolute;
}

.slvVL {
    background-color: rgb(255, 255, 255);
    border-radius: 0.4rem;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 0.1rem 0.4rem;
}

.dBFeZI {
    padding: 1rem;
    color: rgb(20, 24, 35);
    background-color: rgb(255, 244, 235);
}

.gANvcd {
    display: flex;
    flex-flow: column wrap;
}

.tmTFo {
    display: inline-flex;
    align-self: flex-start;
    align-items: center;
    padding: 0.3rem 1rem 0.3rem 0.5rem;
    margin-bottom: 0.5rem;
    background: rgb(255, 255, 255);
    color: rgb(255, 109, 56);
    border-radius: 2.5rem;
}

.iRIAvw {
    display: flex;
    flex-flow: wrap;
}

.hzRtce {
    color: rgb(255, 109, 56);
    background-color: rgb(255, 255, 255);
    padding: 0px 0px 0px 0.5rem;
    text-transform: capitalize;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bCjtdu {
    margin-right: 0.5rem;
}

.fzjEht {
    width: 1.2rem;
    height: 1.2rem;
    fill: rgb(255, 109, 56);
    cursor: pointer;
}

.hTvKaA {
    display: flex;
    padding: 0.5rem;
    flex-direction: row;
    align-items: center;
}

.dEygOn {
    width: 1.5rem;
    height: 1.5rem;
}

.jmzhkB {
    width: 1.5rem;
    height: 1.5rem;
    margin: 0px;
}

.jmzhkB g path:last-child {
    fill: rgb(255, 109, 56);
}

.bCWWx {
    padding-left: 0.8rem;
    color: rgb(70, 72, 77);
}

.eVOhNU {
    top: -0.2rem;
    right: 15%;
}

.ibOANv {
    position: absolute;
    margin-left: -1rem;
    width: 2.4rem;
    height: 1.2rem;
    overflow: hidden;
}

.eVOhNU::after {
    transform: translate(-50%, 50%) rotate(45deg);
    background: rgb(255, 244, 235);
    box-shadow: rgba(0, 0, 0, 0.25) 0px 0.1rem 0.4rem;
}

.ibOANv::after {
    content: "";
    position: absolute;
    width: 1.3rem;
    height: 1.2rem;
    left: 50%;
}

.kGIkTk {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.ijMqTd {
    width: 500px;
}

.NvkHf {
    display: flex;
    align-items: center;
}

.bHgRLt {
    padding: 1rem 0px 0.5rem;
}

.AoXaW {
    line-height: normal;
    font-size: 22px;
    font-weight: 600;
    margin-left: 0rem;
}

.tzmmd {
    color: rgb(34, 116, 224);
    height: 100%;
    display: inline;
    align-items: center;
    width: 100%;
}

a {
    color: rgb(22, 107, 211);
    cursor: pointer;
    outline: 0px;
    text-decoration: none;
}

.cUDamO {
    color: rgb(74, 74, 74);
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
}

.gkwTFY {
    display: flex;
    align-items: center;
    width: auto;
}

.hKTTdu {
    width: 1.5rem;
    height: 2rem;
    fill: rgb(119, 119, 119);
    margin: 0.5rem 0px 0px;
    cursor: pointer;
}

.gZCrux {
    font-style: inherit;
    width: max-content;
}

.cJirRI {
    display: none;
}

.YLmOj {
    display: flex;
    align-items: center;
    margin-right: 1rem;
    margin-left: 5px;
    width: 70%;
}

.bQyVyb {
    width: 2rem;
    height: 2rem;
    margin-left: 0.5rem;
}

.pSgkl {
    padding-left: 7px;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    /* -webkit-line-clamp: 1; */
    overflow: hidden;
}

.hpjvqo {
    width: 305px;
    margin-top: 1rem;
}

.gnNNeO {
    color: rgb(34, 116, 224);
    height: 100%;
    display: inline;
    align-items: center;
    width: auto;
}

.cVXDiL {
    display: flex;
    flex-direction: column;
    align-items: end;
}

.gwpVPd {
    display: flex;
}

.bHFLpI {
    width: 130px;
    border: 1px solid rgb(228, 228, 228);
    border-radius: 0.8rem;
    height: 55px;
    margin-right: 10px;
}

.cjxKhb {
    height: 55px;
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-evenly;
}

.evERWw {
    border: 0.1rem solid rgb(232, 243, 255);
    border-radius: 0.8rem;
    cursor: pointer;
    background-image: url(https://gos3.ibcdn.com/mapDweb-1638795011.png);
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    width: 60px;
    height: 42px;
    margin-bottom: 2px;
}

.jqwsUI {
    width: 13.8px;
    height: 25px;
    align-self: center;
    flex-grow: 0;
    margin: 0px 41.2px 5px 38px;
    object-fit: contain;
}

.iINLVi {
    font-size: 1.2rem;
    color: rgb(34, 116, 224);
    border-radius: 0.8rem;
    font-weight: 600;
}

.dtSHLP {
    width: 157px;
    border: 1px solid rgb(228, 228, 228);
    border-radius: 0.8rem;
    height: 55px;
}

.iYaNAT {
    height: 55px;
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-evenly;
}

.jWtJgd {
    border-radius: 0.8rem;
    cursor: pointer;
    background-color: rgb(28, 165, 79);
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    width: 60px;
    height: 42px;
    margin-bottom: 2px;
    color: white;
}

.hyxOAP {
    font-size: 2rem;
    font-weight: 600;
}

.gnnIdA {
    line-height: normal;
    font-size: 14px;
    font-weight: 600;
    padding-top: 0.7rem;
}

.iINLVi {
    font-size: 1.2rem;
    color: rgb(34, 116, 224);
    border-radius: 0.8rem;
    font-weight: 600;
}

.bxQlyx {
    position: relative;
    display: flex;
}

.jbqXwI {
    margin-right: 15px;
    width: 590px;
}

.iAowDS {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.jUQFXK {
    display: flex;
    overflow: hidden;
}

.bRTEOS {
    backface-visibility: hidden;
    display: flex;
    touch-action: pan-y;
    width: 100%;
}

.ccUBwm {
    flex: 0 0 100%;
    min-width: 0px;
}

.gwgRZq {
    width: 100%;
    height: 32rem;
    object-fit: cover;
    border-radius: 1.2rem;
    min-width: 100%;
}

.ghqZaU {
    width: 100%;
    height: 32rem;
    object-fit: cover;
    border-radius: 1.2rem;
    min-width: 100%;
}

.dyEGux {
    position: relative;
    display: flex;
    min-width: 100%;
}

.bGKfHf {
    display: flex;
    align-items: center;
    justify-content: center;
}

.fdOKAx {
    filter: blur(2px);
    height: 350px;
}

.cUfyBU {
    width: 100%;
    height: 32rem;
    object-fit: cover;
    border-radius: 1.2rem;
    min-width: 50%;
}

.clKlIy {
    display: flex;
    flex-direction: column;
    height: 75%;
    position: absolute;
    top: 14%;
    padding: 1.6rem;
    border-radius: 2rem;
    cursor: pointer;
}

.dIonlg {
    line-height: normal;
    font-size: 22px;
    font-weight: 600;
    color: rgb(255, 255, 255);
    padding-top: 3.5rem;
}

.cmcZMx {
    display: flex;
    justify-content: space-between;
    position: absolute;
    width: 100%;
    top: 50%;
    transform: translateY(-50%);
}

.neXif {
    height: 200px;
    padding-top: 78px;
}

.eAMJYk {
    width: 28px;
    height: 32px;
    fill: rgb(255, 255, 255);
    cursor: pointer;
}

.bRQsAw {
    position: relative;
    width: 100%;
    left: 0px;
    padding: 16px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: linear-gradient(176.87deg, rgba(0, 0, 0, 0.36) 0.97%, rgba(0, 0, 0, 0.9) 95.79%);
    backdrop-filter: blur(4px);
    bottom: 0px;
    border-radius: 0px 0px 8px 8px;
    margin-top: -48px;
}

.ddxGUj p {
    font-size: 12px;
    color: rgb(255, 255, 255);
}

.gxYoWL {
    line-height: normal;
    font-size: 14px;
    font-weight: 600;
    display: flex;
    align-items: center;
    color: rgb(255, 255, 255);
}

.gxYoWL svg {
    margin-left: 6px;
}

.fpLege {
    width: 1.2rem;
    height: 1.2rem;
    fill: rgb(255, 255, 255);
}

.klgonA {
    display: flex;
    flex-direction: column;
    margin-right: 2rem;
    justify-content: flex-start;
}

.goudSc {
    width: 232px;
    height: 168px;
    position: relative;
    margin-bottom: 14px;
    cursor: pointer;
    border-radius: 12px;
    overflow: hidden;
}

.goudSc>img {
    object-fit: cover;
    width: 232px;
    height: 156px;
    border-radius: 12px;
}

.gpECxs {
    position: absolute;
    width: 100%;
    padding: 10px 12px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: linear-gradient(176.87deg, rgba(0, 0, 0, 0.36) 0.97%, rgba(0, 0, 0, 0.9) 95.79%);
    backdrop-filter: blur(4px);
    bottom: 0px;
    border-radius: 0px 0px 8px 8px;
}

.cQAeFK {
    background-color: rgb(255, 255, 255);
    padding-bottom: 1rem;
}

.krDZDN {
    display: flex;
    margin-top: 0px;
    min-width: auto;
    padding: 0.5rem 0px;
    position: sticky;
    top: 8.6rem;
}

.bzCKco {
    display: flex;
    width: 360px;
    margin-top: 4.5rem;
}

.ckHFW {
    width: 360px;
    max-width: 360px;
}

.jirlwh {
    border-radius: 1.2rem;
    padding: 1.9rem 0.8rem;
    border: 1px solid rgb(228, 228, 228);
}

.cFqHdv {
    line-height: normal;
    font-size: 14px;
    font-weight: 600;
    padding: 0px 1rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 50%;
}

.jREzVX {
    display: flex;
    padding: 0px 0.8rem;
}

.fKcHGY {
    display: flex;
    align-items: baseline;
    width: 75%;
    flex-direction: column;
}

.dGMLAu {
    display: flex;
    margin-top: 10px;
}

.EYMfX {
    padding: 0px 0px 0.5rem;
}

.lfQUri {
    display: flex;
    align-items: center;
}

.ccvAEy {
    height: 1.4rem;
    fill: rgb(119, 119, 119);
}

.eAlRyj {
    font-size: 1.4rem;
    padding-left: 0.5rem;
}

.dCeeKI {
    padding: 0px 0px 0.5rem;
}

.emEatq {
    height: 1.4rem;
    fill: rgb(119, 119, 119);
}

.dFmDgp {
    width: 50%;
}

.dFmDgp>div {
    justify-content: end;
}

.eKLDvu {
    width: 1.4rem;
    height: 1.4rem;
    fill: rgb(20, 24, 35);
    cursor: pointer;
}

.csEaWM {
    display: inline-flex;
    font-size: 2.2rem;
    font-weight: 600;
}

.kBdKJl {
    display: inline-flex;
    color: rgb(113, 113, 113);
}

.jOwQqP {
    display: flex;
    color: rgb(113, 113, 113);
    justify-content: end;
    margin-bottom: 10px;
}

.jvAZfA {
    text-transform: capitalize;
}

.cjSXqJ {
    padding: 0.5rem 1.5rem 1rem;
    height: 4.7rem;
    width: 100%;
    border-radius: 0.8rem;
}

.cYhrVX {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border: none;
    background-color: rgb(255, 109, 56);
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    border-radius: 1.2rem;
    font-family: Rubik;
}

.hAWoHt {
    font-weight: bold;
    font-size: 1.6rem;
}

.insATV {
    transform: rotate(90deg) translateX(8px);
    display: inline-block;
    position: relative;
    top: -0.5rem;
    left: 0.5rem;
}

.hppXJR {
    width: 2rem;
    height: 2rem;
}

.hppXJR path:nth-of-type(2) {
    fill: rgb(255, 255, 255);
}