.InsideHotelNav {
    position: sticky;
    top: calc(0px + 9rem);
    z-index: 100;
}

.InsideHotelSearchView {
    margin-top: -9.5em;
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: center;
    background-image: linear-gradient(97.59deg, rgb(255, 109, 56) 0%, rgb(219, 122, 33) 100.53%);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    z-index: +20;
    height: 5.5rem;
}

.InsideHotelMainView {
    margin-top: 12em;
    width: 100%;
    display: flex;
    justify-content: center;
}



/* ////////////////////////////////////Amenities////////////////////////////////////////////////////////////// */



.Amenities {
    display: flex;
    justify-content: center;
}

.jKkVic {
    width: 70%;
    margin: 2rem 0px;
}

.cdZIRD {
    width: 100%;
    margin: 0px auto;
    max-width: 120rem;
    background-color: rgb(255, 255, 255);
    border-radius: 1.2rem;
}

.fRCeTy {
    border-bottom: 0.1rem solid rgb(225, 231, 238);
    padding: 2rem 2.5rem;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

.eeTyKB {
    line-height: normal;
    font-size: 22px;
    font-weight: 600;
}

.jtaVPN {
    padding: 2.5rem;
    border-radius: 0px 0px 0.6rem 0.6rem;
}

.kOWhTi {
    padding: 0.5rem 1.5rem 0.2rem 0.5rem;
    background-image: linear-gradient(96deg, rgb(27, 149, 100), rgb(57, 213, 70));
    border-radius: 0.2rem;
}

.kCaNwu {
    color: white;
    font-weight: 600;
    text-transform: uppercase;
    display: inline;
}

.ixObVF {
    list-style-type: none;
    display: flex;
    align-items: center;
    padding: 2.5rem 2.2rem 0px;
    font-size: 1rem;
}

.iYVwtt {
    width: 1.5rem;
    height: 1.5rem;
    fill: rgb(119, 119, 119);
    cursor: pointer;
}

.hkBexV {
    font-weight: 600;
    padding: 0px 1.5rem 0px 1rem;
}

.chqHwc {
    width: 1.5rem;
    height: 1.5rem;
    margin: 0px;
}

.chqHwc g path:last-child {
    fill: rgb(119, 119, 119);
}

.hFyVkv {
    width: 1.5rem;
    height: 1.5rem;
    fill: rgb(100, 122, 151);
}

.gpcTKG {
    padding: 2.5rem 2.5rem 1.5rem;
    background: rgb(255, 255, 255);
    border-top: 0.1rem solid rgb(225, 231, 238);
    display: flex;
    justify-content: space-around;
}

.fEmIHs {
    padding: 2.5rem 2.5rem 1.5rem;
    background: rgb(255, 255, 255);
    border-top: 0.1rem solid rgb(225, 231, 238);
    column-count: 4;
    column-gap: 20px;
}

.hiqBoU {
    flex: 1 1 0%;
    padding-bottom: 1rem;
}

.dlgwqi {
    line-height: normal;
    font-size: 16px;
    font-weight: 600;
    color: rgb(34, 34, 34);
    margin-bottom: 12px;
}

.cQHPky {
    list-style-type: none;
}

.jDhMTW {
    line-height: normal;
    font-size: 16px;
    font-weight: 400;
    color: rgb(113, 113, 113);
    margin-bottom: 8px;
    position: relative;
    padding-left: 12px;
}

.jDhMTW::before {
    content: "";
    display: inline-block;
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background: rgb(113, 113, 113);
    position: absolute;
    left: 0px;
    top: 8px;
}

.kGlxow {
    padding: 0rem 2.5rem 1.5rem;
    color: rgb(34, 118, 227);
    line-height: normal;
    font-size: 14px;
    font-weight: 600;
}

.bmajuy {
    color: rgb(34, 116, 224);
}




/* ////////////////////////////////////Amenities////////////////////////////////////////////////////////////// */







.fWRZBM {
    margin: 0px auto 2rem;
    max-width: 120rem;
    background-color: rgb(255, 255, 255);
    border-radius: 1.2rem;
    width: 70%;
}

.RKVI {
    background-color: rgb(255, 255, 255);
    border-radius: 12px;
    padding: 24px;
}

.dScsck {
    font-size: 22px;
    font-weight: 600;
    color: rgb(34, 34, 34);
    margin-bottom: 24px;
}

.dCBohn {
    display: flex;
}

.eWOzgM {
    flex: 1 1 0%;
}

.gGezYF {
    display: flex;
    margin-bottom: 20px;
}

.gGezYF li {
    display: flex;
    align-items: center;
    margin-right: 20px;
    font-size: 14px;
    line-height: 18px;
    color: rgb(34, 34, 34);
}

.jiwVcX {
    width: 1.8rem;
    height: 1rem;
    margin: 0px 0.5rem 0rem 0px;
    fill: rgb(100, 122, 151);
    cursor: pointer;
}

.kyMWsf {
    width: 1.4rem;
    height: 1rem;
    margin: 0px 2px 0px 0px;
}

.dPnlFr {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 1.6rem;
    font-size: 1rem;
    line-height: 1.5rem;
    color: rgb(34, 34, 34);
}

.cIdHWM {
    max-width: 100%;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    /* -webkit-line-clamp: 3; */
    overflow: hidden;
    text-overflow: ellipsis;
}

.dPnlFr a {
    color: rgb(34, 116, 224);
}

.mPDAg {
    margin-left: 60px;
}

.hJDQRm {
    width: 13rem;
    height: 13rem;
    border-radius: 50%;
    position: relative;
    background-color: rgb(241, 187, 187);
    /* background-color: rgb(194, 194, 194); */
}

.bGKfHf {
    display: flex;
    align-items: center;
    justify-content: center;
}

.hPPHIS {
    width: 12rem;
    height: 12rem;
    border-radius: 50%;
}










/* ////////////////////////////////////PropertyPolicies////////////////////////////////////////////////////////////// */






.bJrRvy {
    width: 70%;
    margin: 2.5rem auto 2.5rem;
    max-width: 120rem;
    background-color: rgb(255, 255, 255);
    border-radius: 1.2rem;
}

.cyPRSL {
    border-bottom: 0.1rem solid rgb(225, 231, 238);
    padding: 1rem 2.5rem;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    display: flex;
    align-items: center;
}

.jwBOfs {
    line-height: normal;
    font-size: 1rem;
    font-weight: 600;
    margin-bottom: 0px;
    margin-right: 16px;
}

.gQcjvk {
    font-size: 1rem;
    background: rgb(238, 244, 253);
    border-radius: 53px;
    padding: 9px 16px;
    display: flex;
    align-items: center;
    margin-bottom: 0px;
}

.gQcjvk>span:first-child {
    margin-right: 22px;
}

.civGJZ {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.civGJZ {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.bMWa-dl {
    display: flex;
    flex-direction: column;
    margin: 1.6rem 0px;
}

.bMWa-dl>li {
    display: flex;
    padding: 0.5rem 2.5rem;
    align-items: center;
}

.nsHxJ {
    width: 1.5rem;
    height: 1.5rem;
    margin: 0px 1rem 0px 0px;
    fill: rgb(70, 72, 77);
}

.gmLhXm {
    font-size: 1rem;
    width: 70%;
    margin-bottom: 0px;
}

.dLGoCB {
    line-height: normal;
    font-size: 16px;
    font-weight: 600;
    padding: 1rem 2.5rem;
}

.bmajuy {
    color: rgb(34, 116, 224);
}









/* ////////////////////////////////////////////////Guest Reviews///////////////////////////////////////////////////////////////// */











.GuestReviews {
    display: flex;
    justify-content: center;
}

.dJAAfN {
    /* margin: 0px 0px 2.5rem; */
    width: 70%;
}

/* .hohqDA {
    margin: 0px auto;
    max-width: 120rem;
    padding-top: 1.5rem;
    background-color: rgb(232, 243, 255);
} */

.TSydZ {
    background-color: white;
    border-radius: 1.2rem;
}

.hARIFr {
    border-bottom: 0.1rem solid rgb(225, 231, 238);
    padding: 1rem 2.5rem;
}

.buWWlt {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.eeTyKB {
    line-height: normal;
    font-size: 22px;
    font-weight: 600;
}

.gwpVPdB {
    display: flex;
}

.iUNbDh {
    position: relative;
    text-align: left;
    display: inline-flex;
    align-self: flex-start;
    font-size: 1.4rem;
    cursor: pointer;
}

.eRtKVZ {
    font-weight: 600;
}

.eRxZvC {
    padding: 0px 0.5rem;
}

.iMkIGJ {
    width: 1rem;
    height: 1rem;
    fill: rgb(34, 116, 224);
    margin: 0px 0px 0px 0.5rem;
    cursor: pointer;
}

.ffDNvQ {
    width: 18rem;
    max-width: 20rem;
    z-index: 5;
    visibility: hidden;
    transition: opacity 0.8s;
    padding: 1rem 0px;
    position: absolute;
    top: 1.5rem;
    right: 0px;
}

.gwpVPdB:hover>.DropDownCheckListstyles__HiddenDropdownWrapperDiv-sc-pxm9-4 {
    visibility: visible;
}

.hwDnKh {
    background-color: rgb(255, 255, 255);
    border-radius: 0.4rem;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 0.1rem 0.4rem;
}

.fhvMHk {
    width: 100%;
    display: flex;
    list-style-type: none;
    overflow: hidden;
    padding: 0.5rem 0px 0px;
    flex-direction: column;
}

.fhvMHk>li {
    width: 100%;
    display: flex;
    flex-direction: row;
    border-bottom: 0.1rem solid rgb(239, 243, 248);
    padding: 1rem;
    position: relative;
}

.gYdvnt {
    width: 1.2rem;
    align-items: center;
    justify-content: center;
    margin-right: 0.5rem;
    border-radius: 50%;
    display: inline-block;
    cursor: pointer;
}

.gYdvnt:checked {
    background-color: rgb(233, 236, 238);
    border: 2px solid rgb(173, 184, 192);
    color: rgb(153, 161, 167);
}

.jrzcjl {
    font-size: 1rem;
}

.krCavP {
    right: 15%;
    top: -0.1rem;
}

.ctgRod {
    position: absolute;
    margin-left: -1rem;
    width: 2.4rem;
    height: 1.2rem;
    overflow: hidden;
}

.krCavP::after {
    transform: translate(-50%, 50%) rotate(45deg);
    background-color: rgb(255, 255, 255);
    box-shadow: rgba(0, 0, 0, 0.25) 0px 0.1rem 0.4rem;
}

.ctgRod::after {
    content: "";
    position: absolute;
    width: 1.3rem;
    height: 1.2rem;
    left: 50%;
}

.kfcvgo {
    display: flex;
    padding: 2rem;
    border-bottom: 0.1rem solid rgb(225, 231, 238);
}

.jwAyyK {
    display: flex;
    width: 50%;
}

.gKPvMO {
    background-color: rgb(72, 180, 28);
    align-items: center;
    justify-content: center;
    width: 10rem;
    color: rgb(255, 255, 255);
    border-radius: 0.6rem;
}

.gANvcd {
    display: flex;
    flex-flow: column wrap;
}

.ceCnfH {
    font-size: 1.2rem;
    align-items: center;
    padding-top: 1rem;
    /* padding-bottom: 0.5rem; */
    margin-bottom: 0px;
}

.gDjAfW {
    flex-direction: row;
    align-items: flex-end;
    margin-bottom: 0px;
}

.jVbauY {
    font-size: 2.5rem;
    align-items: center;
    font-weight: 600;
}

.vKLim {
    font-size: 2.2rem;
    align-items: center;
    font-weight: 600;
}

.ceoSAg {
    font-size: 1rem;
    align-items: center;
    margin-bottom: 0px;
    padding-top: 0.5rem;
    /* padding-bottom: 0.5rem; */
}

.jBPckU {
    font-size: 1rem;
    align-items: center;
    padding-bottom: 1rem;
}

.dsSAii {
    width: 70%;
    padding-top: 1rem;
    padding-left: 1.5rem;
}

.iRIAvwB {
    display: flex;
    flex-flow: wrap;
}

.epuJRG {
    padding-right: 0.5rem;
    font-size: 0.8rem;
}

.cONVXR {
    margin-right: 5px;
}

.RxyTX {
    cursor: pointer;
}

.cONVXR path:nth-of-type(2) {
    fill: rgb(20, 24, 35);
}

.lfzkXW {
    padding-top: 0.3rem;
    width: 16rem;
}

.eWRShh {
    width: 16rem;
    height: 0.5rem;
    background-color: rgb(239, 243, 248);
    border-radius: 0.6rem;
    position: absolute;
}


.iSmcEf {
    background-color: rgb(28, 165, 79);
    border-radius: 0.6rem;
    position: relative;
    height: 0.5rem;
    width: 10rem;
}

.fpgWBn {
    background-color: rgb(245, 157, 0);
    border-radius: 0.6rem;
    position: relative;
    height: 0.8rem;
    width: 4rem;
}

.ddApVc {
    background-color: rgb(231, 76, 60);
    border-radius: 0.6rem;
    position: relative;
    height: 0.8rem;
    width: 1rem;
}


.gdcYBO {
    background-color: rgb(17, 153, 142);
    border-radius: 0.6rem;
    position: relative;
    height: 0.8rem;
    width: 5.5rem;
}

.iQAVTu {
    padding-left: 0.5rem;
    font-size: 0.8rem;
    flex-direction: row;
}

.ezAYjh {
    padding: 2rem;
}