.StayOptions {
    display: flex;
    justify-content: center;
}

.kCFGJC {
    /* background-color: rgb(232, 243, 255); */
    width: 70%;
    flex-direction: column;
    /* margin: 0px 0px 2.5rem; */
}

.cOQlJH {
    max-width: 120rem;
    width: 100%;
    padding-top: 1.5rem;
    margin: 0px auto;
}

.dVudlA {
    border-radius: 0.4rem;
    margin: 2rem 0px 0px;
}

.jgHSyd {
    display: flex;
    width: 100%;
    height: 64px;
    margin-top: -20px;
    z-index: 2;
    box-shadow: none;
}

.jgHSyd>ul {
    margin-left: 0px;
}

.gexyvD {
    display: flex;
    align-items: center;
    position: sticky;
    top: 14.9rem;
    padding: 2rem 0px;
    z-index: 3;
}

.zcRkk {
    font-weight: 600;
    color: rgb(70, 72, 77);
    font-size: 1rem;
    margin-right: 1.2rem;
    margin-bottom: 0rem;
}

.gexyvD>li {
    position: relative;
    border: 0.1rem solid rgb(225, 231, 238);
    background-color: rgb(255, 255, 255);
    padding: 0.8rem 3.2rem 0.8rem 0.8rem;
    border-radius: 0.8rem;
    margin-right: 1.2rem;
    color: rgb(25, 88, 182);
    font-size: 1.6rem;
    cursor: pointer;
}

.dGqyqI {
    border: none;
    background-color: transparent;
    padding: 0px;
    border-radius: 1.2rem;
    position: sticky;
    top: 148px;
    z-index: 2;
}

.YBPYA {
    padding: 0px;
    align-items: center;
    flex-direction: row;
}

.fuYugT {
    padding: 0.7rem 1rem;
    align-items: center;
    position: relative;
}

.iCchch {
    height: 1rem;
    width: 1rem;
    margin-right: 0.75rem;
    padding-right: 2rem;
    align-items: center;
    justify-content: center;
    border-radius: 0.2rem;
    display: inline-flex;
    cursor: pointer;
}

.hfyqtt {
    transform: scale(1.3);
}

.dVwFRs {
    font-size: 1rem;
    color: rgb(25, 88, 182);
    font-weight: normal;
    cursor: pointer;
}

.joSZn {
    display: flex;
    background-color: rgb(209, 229, 255);
    width: 100%;
    height: 50px;
    position: sticky;
    top: 14.5rem;
    left: 0px;
    z-index: 2;
    box-shadow: none;
}

.kQnyqe {
    padding: 2rem 3.4rem;
    display: flex;
    align-items: center;
    border-left: 0.1rem solid rgb(232, 243, 255);
    flex: 1.38 1 0%;
}

.kQnyqe:first-child {
    border-left: none;
}

.jFebjy {
    font-size: 1rem;
    font-weight: 600;
    color: rgb(20, 24, 35);
    text-align: center;
}

.fLCXyr {
    padding: 2rem 3rem;
    display: flex;
    align-items: center;
    border-left: 0.1rem solid rgb(232, 243, 255);
    flex: 1 1 0%;
}

.fLCXyr {
    padding: 2rem 3rem;
    display: flex;
    align-items: center;
    border-left: 0.1rem solid rgb(232, 243, 255);
    flex: 1 1 0%;
}

.ipMnqG {
    display: flex;
}

.gVTAjE {
    display: flex;
    flex-direction: column;
    background-color: rgb(255, 255, 255);
    width: 100%;
}

.dDVieA:last-child {
    border-bottom: none;
    border-bottom-left-radius: 1.2rem;
    border-bottom-right-radius: 1.2rem;
}

.dDVieA {
    display: flex;
    background-color: rgb(255, 255, 255);
    border-bottom: 0.8rem solid rgb(232, 243, 255);
}

.dgUxQa {
    display: flex;
    width: 100%;
}

.dbEVNG {
    padding: 0px 2.4rem 2.4rem;
    border-right: 0.1rem solid rgb(232, 243, 255);
    width: 39.7%;
}

.KdsaA {
    position: sticky;
    top: calc(0px + 21.8rem);
}

.hEXjuX {
    font-size: 1.4rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    font-weight: 600;
    background: white;
    position: sticky;
    top: calc(0px + 16.8rem);
    word-break: break-word;
    z-index: 99;
}

a {
    color: rgb(22, 107, 211);
    cursor: pointer;
    outline: 0px;
    text-decoration: none;
}

.kyMJfW:last-child {
    border-bottom: none;
}

.fqOCbV {
    padding-top: 1rem;
    padding-bottom: 1rem;
    position: relative;
}

.kyMJfW {
    width: 100%;
    border-bottom: 0.8rem solid rgb(194, 194, 194);
}

.gANvcd {
    display: flex;
    flex-flow: column wrap;
}

.UeQCs {
    display: flex;
    height: 15rem;
    width: 100%;
    object-fit: fill;
    border-radius: 1.2rem;
}

.fjWUzF {
    position: absolute;
    bottom: 1.6rem;
    left: 0.8rem;
    border-radius: 0.6rem;
    background: rgb(20, 24, 35);
    box-shadow: rgba(0, 0, 0, 0.3) 0px 0.4rem 0.5rem;
    color: rgb(255, 255, 255);
    font-weight: 600;
    font-size: 1rem;
    padding: 0.8rem 2.4rem 0.8rem 0.8rem;
}

.fjWUzF::after {
    border-style: solid;
    border-color: rgb(255, 255, 255);
    border-image: initial;
    border-width: 0px 0.2rem 0.2rem 0px;
    display: inline-block;
    padding: 0.3rem;
    transform: rotate(-45deg);
    position: absolute;
    right: 1rem;
    top: 1.2rem;
    content: "";
}

.gRZdvM {
    display: flex;
    flex-wrap: wrap;
}

.hQzkPE {
    padding: 0px;
    align-items: center;
    width: 50%;
}

.cUApqs {
    font-size: 1rem;
    color: inherit;
    display: flex;
    align-items: center;
}

.dTyqtu {
    padding: 0px 0.5rem 0px 0px;
    margin-top: 6px;
}

.hQzkPE {
    padding: 0px;
    align-items: center;
    width: 50%;
}

.tbBNw {
    padding: 0px;
    align-items: center;
}

.fTPZGc {
    font-size: 1.4rem;
    color: inherit;
    display: flex;
    align-items: baseline;
}

.bmajuy {
    color: rgb(34, 116, 224);
}

.gIXzUC {
    width: 75%;
    flex: 2 1 0%;
}

.gIPmqX {
    display: flex;
    width: 100%;
    border-bottom: 0.8rem solid rgb(232, 243, 255);
    height: auto;
}

.gpDZNN {
    border-right: 0.1rem solid rgb(232, 243, 255);
    padding: 2.55rem;
    flex: 1 1 0%;
    height: auto;
}

.dSSarT {
    display: flex;
    align-items: center;
    /* margin-bottom: 27px; */
}

.kRqFEd {
    padding-bottom: 1rem;
    font-size: 1rem;
    font-weight: 600;
    word-break: break-word;
}

.bjlFDh {
    padding: 0px;
    align-items: center;
    display: block;
}

.fTPZGc {
    font-size: 1rem;
    color: inherit;
    display: flex;
    align-items: baseline;
}

.fRdwtL {
    display: flex;
    width: 6%;
}

.hBwFYT {
    background-color: rgb(20, 24, 35);
    border-radius: 50%;
    width: 0.6rem;
    height: 0.6rem;
    margin-right: 0.5rem;
}

.fLeLsQ {
    font-size: 1rem;
    color: rgb(208, 1, 27);
    display: flex;
    align-items: center;
}

.hCsmZX {
    padding: 0px 1rem 0px 0px;
}

.iRqvzU {
    width: 0.8rem;
    height: 0.8rem;
    cursor: pointer;
}

.iRqvzU g path:last-child {
    fill: rgb(208, 1, 27);
}

.hqciuS {
    display: flex;
}

.hqciuS>.iUTaYc {
    display: flex;
    flex-direction: column;
    font-size: 0.8rem;
    color: green;
    margin-top: 6px;
    margin-bottom: 0px;
}

.iZHNjh {
    font-size: 1rem;
    color: rgb(34, 116, 224);
    font-weight: 600;
    padding-top: 1rem;
    margin-left: 19px;
    text-decoration: none;
}

.gpDZNN:last-child {
    border-right: none;
}

.dZPLdY {
    position: relative;
    display: flex;
    margin-bottom: 10px;
}

.dVZNvc {
    display: flex;
    background-color: rgb(230, 49, 72);
    border-radius: 0.5rem;
    color: rgb(255, 255, 255);
    margin-right: 1rem;
    padding: 0.2rem 1.5rem 0.2rem 0.5rem;
    cursor: pointer;
}

.eVznBG {
    display: flex;
    content: "";
    border-top: 1rem solid transparent;
    border-bottom: 0.8rem solid transparent;
    position: relative;
    left: -1.3rem;
    border-left: 0.6rem solid rgb(230, 49, 72);
}

.ipTqZy {
    padding: 1.5rem 0px 0px;
    color: rgb(119, 119, 119);
    text-decoration: line-through;
}

.huWnMY {
    display: flex;
    align-items: center;
    font-size: 1.6rem;
    font-weight: 600;
}

.eKLDvu {
    width: 1.4rem;
    height: 1.4rem;
    fill: rgb(20, 24, 35);
    cursor: pointer;
}

.bZeyYo {
    line-height: normal;
    font-size: 12px;
    font-weight: 400;
}

.jvcZpx {
    /* padding: 0.5rem 0px 1rem; */
    color: rgb(119, 119, 119);
}

.jvAZfA {
    text-transform: capitalize;
}

.fhJGsp {
    line-height: normal;
    font-size: 1rem;
    font-weight: 600;
    border: 0.15rem solid rgb(255, 109, 56);
    background: rgb(255, 255, 255);
    color: rgb(255, 109, 56);
    padding: 0px 1.8rem;
    margin-bottom: 1rem;
    height: 3.4rem;
}

.cYhrVX {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border: none;
    background-color: rgb(255, 109, 56);
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    border-radius: 1.2rem;
    font-family: Rubik;
}

.bmajuy {
    color: rgb(34, 116, 224);
}

.hEkfgc {
    display: flex;
    width: 100%;
    border-bottom: none;
    height: 100%;
}

.krCavP {
    right: 15%;
    top: -0.1rem;
}

.ctgRod {
    position: absolute;
    margin-left: -1rem;
    width: 2.4rem;
    height: 1.2rem;
    overflow: hidden;
}

.krCavP::after {
    transform: translate(-50%, 50%) rotate(45deg);
    background-color: rgb(255, 255, 255);
    box-shadow: rgba(0, 0, 0, 0.25) 0px 0.1rem 0.4rem;
}

.ctgRod::after {
    content: "";
    position: absolute;
    width: 1.3rem;
    height: 1.2rem;
    left: 50%;
}