.navContainer{
    display: flex;
    justify-content: space-around;
    font-size: 18px;
    background-image: url('../../Assets/header-bg.svg');
    /* height: 100%; */
  }
  
  .NavCategory{
    color: navy;
    padding: 10px;
    font-weight: bold;
  
  }
  
  .NavCategory:active{
    color: white;
    text-decoration: underline;
  }
  
  .navHr{
    text-decoration: underline !important;
    /* background-color: whitesmoke; */
    /* margin-top: 10px; */
  }